* {
  box-sizing: border-box;
}

body {
  background-image: url('../src/assets/img/milky-way-2695569_1920.jpg');
  font-size: 25px;
  font-weight: 800;
  color: #fff;
}

button {
  border: none; 
  outline: none;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  background-color:rgba(255,255,255, 0.3);
  width: 700px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}